{{page-title "Contact"}}
<div class="content">
  <h2>Contact</h2>
  <p>France - Paris</p>
  <p>Srikanth.C</p>
  <p><a href="mailto:srikanthcollaty92@gmail.com">srikanthcollaty92@gmail.com</a></p>
  <br/>
  <p>PHONE: +33 0783******</p>

  <!-- Add the image tag with the source attribute pointing to your image file -->
  <img class="contact-image" src="/images/communicate.png" alt="Contact Image"/>
</div>