{{!-- Your Ember.js code --}}
{{page-title "Education"}}
<div class="content">
  <h2>Education Background</h2>
  <ul>
    <li>Enginering degree - ESIEA</li>
    <li>Math, Physics, Mechanics - Preparatory class for Grandes Ecoles - Jacquard high school Paris</li>
     <li>Two years technical studies in electrical engineering - Jacquard high school Paris</li>
    <!-- Add more bullet points as needed -->
  </ul>


  <img src="./images/web-developer.png" alt="dev"/>
</div>
