{{!-- Your Ember.js code --}}
{{page-title "Home"}}
<div class="content gray-background">
  <h2>Hello</h2>
  I am Srikanth Collaty, I have recently graduated, and I am a Tech enthusiast.

  I am always open to collaborating on projects and innovative/disruptive ideas.

  When I am not coding, you will find me lifting weights in the gym or at my desk sketching stuff
  <br><br>

  <div class="picture-container">
    <img class="picture" src="/images/fullstack-development.png" alt="dev"/>
    <img class="picture" src="/images/dev1.jpg" alt="dev"/>
    <img class="picture" src="/images/dev2.png" alt="dev"/>
  </div>
</div>


