{{page-title "Work Experiences"}}
<div class="content">
  <div class="experience-section">
    <h2>Work Experiences</h2>
    <ul>
      <li>SAP Full Stack Developer and associate manager - Vinci Construction S.I (2023 May - 2023 Nov)</li>
      <li>BIM Developer - TRACTEBEL – ENGIE GROUP (2022 Apr - 2022 Aug)</li>
         <li>Project Manager and developer - Istya (2021 Sep  - 2022 Feb)</li>
      <!-- Add more work experiences as needed -->
    </ul>
  </div>

  <div class="experience-section">
    <h2>Skills and Achievements</h2>
    <ul>
      <li>C#</li>
      <li>Java</li>
      <li>Node.js</li>
      <!-- Add more skills and achievements as needed -->
    </ul>
  </div>

  <div class="experience-section">
    <p>
      Looking for new opportunities? Feel free to 
      <LinkTo @route="contact">contact me</LinkTo>.
    </p>
  </div>

  <div class="picture-container">
    <!-- Add images related to your work experiences if needed -->
    <img class="picture" src="./images/work-experience.png" alt="Example Image 1"/>
  </div>
</div>
